<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap.ejs')%> <%-include('./partials/header.ejs')%>
  <body class="about-body">
    <%-include('./partials/nav.ejs')%>
    <div class="about">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci odit
        ex voluptatibus repellat nulla sequi eaque maxime blanditiis veritatis
        deserunt distinctio sint, minus vel nostrum sunt necessitatibus dolorum
        debitis nesciunt molestiae tempore fugiat pariatur harum eveniet nihil?
        Impedit aliquam iure, error eum, repudiandae sint aut atque perferendis
        temporibus amet, nam optio maiores at. Reprehenderit, id? Facilis
        impedit consectetur, iusto earum, eaque sunt ad vero quaerat laboriosam
        ullam ratione reprehenderit nobis officia, quidem cupiditate molestiae
        nihil corrupti? Explicabo assumenda vero eum voluptas provident nam
        fugit deserunt aspernatur dignissimos iste voluptates quidem, quis
        labore delectus error obcaecati facere. Quaerat quam ratione soluta.
      </p>
    </div>
    <div class="contact-us">
      <div>
        <ul>
          <li>
            <address>
              <a href="mailto: dhruvil@gmail.com">Email 1: dhruvil@gmail.com</a>
            </address>
          </li>

          <li><h3>contact: +919999999999</h3></li>
          <li><h3>contact: +918888888888</h3></li>
        </ul>
      </div>
    </div>
  </body>
  <%-include('./partials/footer.ejs')%>
</html>
