<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include('./partials/bootstrap.ejs')%> <%-include('./partials/header.ejs')%>
    <body>
      <%-include('./partials/nav.ejs')%>
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h1>Ongoing Auctions</h1>
                
            </div>
            </div>
        </div>


    </body>
</html>
