<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap')%> <%-include('./partials/header.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div>
      <h2 class="Alert"><%=alrt%></h2>
      <form action="/post-crop" method="POST">
        <table>
          <head>
            <tr>
              <th>
                <label for="name">Enter Crop Name</label>
              </th>
              <th>
                <label for="description">Enter Crop Description</label>
              </th>
              <th><label for="price">Base Price(per Kg)</label></th>
              <th><label for="quantity">Total Quantity</label></th>
              <th><label for="category">Crop Category</label></th>
              <th><label for="image">Crop Image</label></th>
            </tr>
          </head>
          <tr>
            <th>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Crop Name"
              />
            </th>
            <th>
              <input
                type="text"
                id="description"
                name="description"
                placeholder="Crop Description"
              />
            </th>
            <th>
              <input
                type="text"
                id="price"
                name="basePrice"
                placeholder="Base Price"
              />
            </th>
            <th>
              <input
                type="text"
                id="quantity"
                name="quantity"
                placeholder="Quantity"
              />
            </th>
            <th>
              <select id="category" name="category">
                <option value="">Select Category</option>
                <option value="vegetable">Vegetable</option>
                <option value="fruits">Fruits</option>
                <option value="pulses">Pulses</option>
                <option value="oilseeds">Oilseeds</option>
                <option value="grain">Grain</option>
                <option value="others">Others</option>
              </select>
            </th>
            <th>
              <input
                type="file"
                id="crop_image"
                name="crop_image"
                placeholder="Crop Image"
              />
            </th>
            <th><button type="submit">Post</button></th>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
