<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap.ejs')%>
  <%-include('./partials/header.ejs')%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#buyer').hide();
      $('#farmer').hide();
      $('#button1').click(function(){
        $('#buyer').hide();
        $('#farmer').toggle();
      });
      $('#button2').click(function(){
        $('#farmer').hide();
        $('#buyer').toggle();
      });
    });
  </script>
  <body>
    <%-include("./partials/nav.ejs")%>
    <div class="create-user">
      <li style="width:fit-content;display: flex;margin-left: 40vw;"><button style="font-size:25px;margin-right:10%;" id="button1">Farmer</button> <button style="font-size:25px;" id="button2">Buyer</button></li>
        <div id="farmer">
          <form action="/createseller" method="POST">
            <h4>Create Farmer account</h4>
           <ul>
            <li><label for="aadhar">AAdhar Card Number</label></li>
            <input type="text" id="aadhar" name="aadhar" required />
            <li><label for="kisaan_id">Kisaan Card Number</label></li>
            <input type="text" id="kisaan_id" name="kisaan_id" required />
            <li><label for="pno">Phone Number</label></li>
            <input type="text" id="pno" name="pno" required />
          <li><label for="password">Password</label></li>
            <input type="password" id="password" name="password" required />
            <li><label for="c-password">Confirm Password</label></li>
            <input type="password" id="c-password" name="c-password" required />
          <li><label for="dob">Date of Birth</label></li>
            <input type="date" id="dob" name="dob" required />
            <button onclick="validate()">Continue</button>
            <li><a href="/">Already have an account?</a></li>
            </ul>
            <script src="/validate.js"> 
            </script>
          </form>
        </div>
        <div id="buyer">
          <form action="/createbuyer" method="POST">
          <h4>Create Buyer account</h4>
         <ul>
          <li><label for="aadhar">AAdhar Card Number</label></li>
          <input type="text" id="aadhar" name="aadhar" required />
          <li><label for="email">Email Id</label></li>
          <input type="text" id="email" name="email" required />
          <li><label for="pno">Phone Number</label></li>
          <input type="text" id="pno" name="pno" required />
        <li><label for="password">Password</label></li>
          <input type="password" id="password" name="password" required />
          <li><label for="c-password">Confirm Password</label></li>
          <input type="password" id="c-password" name="c-password" required />
        <li><label for="dob">Date of Birth</label></li>
          <input type="date" id="dob" name="dob" required />
          <button onclick="validate()">Continue</button>
          <li><a href="/">Already have an account?</a></li>
          </ul>
          <script src="/validate.js"> 
          </script>
        </form>
      </div>
    </div>
</html>