@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
  background-color: darkcyan;
  max-width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  background-image: url("night.jpeg");
  background-repeat: no-repeat;
  background-size: contain 100%;
  background-position: center;
}

a {
  margin-top: 10;
  padding-left: 20;
  text-decoration: none;
  color: black;
  outline: red;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-right: 20px;
}
nav h1 {
  font-size: 3.5vmax;
  color: white;
}
nav a {
  color: red;
}

.Alert {
  color: red;
  margin-left: 6%;
}

.create-user form {
  min-width: 40vw;
  max-width: 40%;
  padding: 1%;
  height: fit-content;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
}

.create-user h4 {
  text-align: center;
  color: white;
}
.create-user h3,.create-user h5{
  text-align: center;
  color: rgb(169, 165, 165);
}

.create-user a {
  color: rgb(78, 153, 252);
}

.create-user li {
  list-style-type: none;
  font-size: 1vmax;
  color: rgb(168, 168, 168);
  list-style-type: none;
}

.create-user input {
  color: white;
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(26, 25, 25);
  border-radius: 3px;
  background-color: rgb(37, 37, 37);
}

.create-user button {
  background-color: rgb(81, 81, 250);
  color: white;
  width: 90%;
  padding: 6px;
  border: 0;
  font-size: 1.2vmax;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 3px;
}

.type-button{
  width:fit-content;
  display: flex;
  margin-left: 40vw;
}

#farmer-button{
  font-size:25px;
  margin-right:10%;
}

#buyer-button{
  font-size:25px;
}

#crop-image{
  width: 300px;
}

.container{
  margin-left: 0%;
}
.container th,.container tr,.container td {
  padding: 10px;
  border: solid black 1px;
  width: fit-content;
}
.container button {
  width: 5vw;
}
.container input{
  width: 7vw;
}

#table2 th,
#table2 tr,
#table2 td {
  padding: 10px;
  border: solid black 1px;
}
.sell input,
.sell select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.sell input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.about {
  max-width: 80%;
  padding: 1%;
  height: fit-content;
  margin: 0 auto;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  color: rgb(168, 168, 168);
}
.contact-us {
  width: 80%;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 5vw;
  color: rgb(168, 168, 168);
}
.contact-us h3 {
  font-size: 15px;
}
.contact-us ul,
.contact-us a {
  text-align: center;
  color: rgb(168, 168, 168);
  list-style-type: none;
}

#settings-card {
  width: fit-content;
  height: 80vh;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(37, 37, 37);
  color: gray;
}
#settings-card .row {
  padding: 2%;
}

#card2 {
  height: 80vh;
  align-items: center;
  background-color: rgb(31, 30, 30);
}
#info {
  border: 2px solid white;
  margin-top: 2%;
  width: 50%;
  height: fit-content;
  color: rgb(168, 168, 168);
  background-color: rgb(37, 37, 37);
  padding-left: 1%;
}
#info ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
#info ul h4 {
  font-size: 2.5vw;
  border-radius: 3px;
  padding-left: 2%;
  margin-right: 4%;
  background-color: rgb(0, 0, 0);
}
#info ul h6 {
  font-size: 2vw;
}

#settings-card .row:hover {
  background-color: rgb(31, 30, 30);
  color: white;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0px;
  color: white;
  width: 80%;
  height: 5vw;
}
